<header>
    <h1 style="font-family: 'Josefin Sans', sans-serif; font-weight: 400;">
        <a href="/" class="header-link">Lux for,</a>
    </h1>
    <nav>
        <ul>
            <li><a href="/posts">Posts</a></li>
            <li><a href="#">Category</a></li>
            <li><a href="#">Online Shop</a></li>
        </ul>
    </nav>
    <div class="search-container">
        <input type="text" placeholder="Search...">
        <button type="submit">🔍</button>
    </div>
</header> 